.home {
  flex: 1;
}

.home > section {
  padding: 40px 50px;
}

.hero {
  background-image: url(../../assets/alex-folguera-9EfG4t9vfvc-unsplash.jpg);
  background-size: cover;
  min-height: 90vh;
}

.heroTitle {
  color: var(--color-secondary);
  font-family: "Forum", serif;
  font-size: 100px;
}

.heroText {
  color: var(--color-secondary);
}

.about {
  background: var(--color-secondary);
}

.popular {
  background: var(--color-muted);
}

.sectionTitle {
  margin-bottom: 24px;
  font-family: "Forum", serif;
  color: var(--color-primary);
  font-size: 40px;
}

.contentText {
  color: var(--color-primary);
}