#home{
  flex: 1;
}

#home>section{
  padding: 40px 50px;
}

#hero {
  background-image: url(../../assets/alex-folguera-9EfG4t9vfvc-unsplash.jpg);
  background-size: cover;
  min-height: 90vh;
}

#hero>h1{
  color: var(--color-secondary);
}

#hero>p{
  color: var(--color-secondary);
}

#about {
  background: var(--color-secondary);
}

#popular {
    background: var(--color-muted);
}

section>h2 {
  margin-bottom: 24px;
}

h1, h2 {
  font-family: "Forum", serif;
  color: var(--color-primary);
}

h1{
    font-size: 100px;
}

h2 {
  font-size: 40px;
}

p {
  color: var(--color-primary);
}